<div class="my-container">

  <div class="container" id="index-container">

    <div class="row">
      <div class="col">
        <h1>Discover all our great vinyls and book your favourites!</h1>

        <div class="search-box">
          <div class="search-input">
            <%= form_tag vinyls_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Find a vinyl"
              %>
          </div>
          <div class="search-button">
            <%= submit_tag "Search", class: "button secondary" %>
            <% end %>
          </div>
        </div>

      </div>
    </div>

      <div class="cards" id="cards-index">
        <% @vinyls.each do |vinyl| %>
          <%= link_to vinyl_path(vinyl) do %>
            <div class="album-card-minimal">
              <div class="album-card-minimal-cover" style="background-image: url('<%= cl_image_path vinyl.photo.key %>')"></div>
              <div class="album-card-minimal-details">
                <h4><%= vinyl.title %></h4>
                <h4><%= vinyl.artist %></h4>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

  </div>
</div>
