<div class="container">
  <div class="row">
    <div class="col">

    <div class="album-card">
      <div class="album-card-cover"><%= cl_image_tag @vinyl.photo.key, crop: :scale %></div>
      <div class="album-card-details">
        <div class="album-info-container">
          <div class="album-title-container">
            <h2><%= @vinyl.title %></h2>
            <h3><%= @vinyl.artist %></h3>
            <h4><%= @vinyl.release_date %></h4>
          </div>
          <%# <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ipsa, hic obcaecati est repellendus dolorem a culpa.</p> %>
          <hr>
          <div class="form-container">
            <%= simple_form_for [ @vinyl, @booking] do |f| %>
              <%= f.input :date_begin %>
              <%= f.input :date_end %>
              <%= f.submit id: "submit", class:"submit button first", value: "Book now!"%>
            <% end %>
          </div>
        <%= link_to 'Back to all vinyls', vinyls_path %>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
