<div class="my-container">

  <div class="row">
      <div class="col">
          <h1>Here are all your bookings to come:</h1>
      </div>
      </div>

      <div class="cards">
          <% @bookings.each do |booking| %>
          <div class="album-card-minimal">
              <div class="album-card-minimal-cover" style="background-image: url('<%= cl_image_path booking.vinyl.photo.key %>')"></div>
              <div class="album-card-minimal-details-dashboard">
              <h4><%= booking.vinyl.title %></h4>
              <h4><%= booking.vinyl.artist %></h4>
              <h6>From: <%= booking.date_begin.strftime("%d/%m/%Y") %><br>To: <%= booking.date_end.strftime("%d/%m/%Y") %></h6>
              </div>
          </div>
          <% end %>
      </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Here are all the vinyls you own:</h1>
      </div>
    </div>

      <div class="cards">
        <% @vinyls.each do |vinyl| %>
          <div class="album-card-minimal">
            <div class="album-card-minimal-cover" style="background-image: url('<%= cl_image_path vinyl.photo.key %>')"></div>
            <div class="album-card-minimal-details">
              <h4><%= vinyl.title %></h4>
              <h4><%= vinyl.artist %></h4>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
